*.class
*.idea
*.iml
# Package Files #
*.jar
*.war
*.ear

# ignore Maven generated target folders
target

# ignore eclipse files
.project
.classpath
.settings
.metadata
mvnw
mvnw.cmd
pom.xml
src/main/java/com/ziigeer/ziigeerapi/
src/main/resources/
src/test/
ziigeer-api.iml
